---
import AuthLayout from "@/layouts/AuthLayout.astro";
import LoginForm from "@/components/ui/react/login-form";


//TODO: change this logic to use session instead.
const isLoggedIn = Astro.locals.isLoggedIn;
if (isLoggedIn) {
  return Astro.redirect('/u');
}

---

<AuthLayout title="Login | POL eRFX">
  <div class="flex justify-end flex-end" slot="auth-slot">
    <a href="/auth/signup">
      <p>Sign up</p>
    </a>
  </div>
  <LoginForm slot="auth-slot" client:only='react' />
</AuthLayout>
