---
import "@/styles/global.css";
import { Toaster } from "@/components/ui/react/sonner";
import DashboardHeader from "@/components/DashboardHeader.astro";
import Sidebar from "@/components/Sidebar.astro";
import { ViewTransitions } from "astro:transitions";
import LoadingIndicator from "astro-loading-indicator/component";
import { menu } from "@/utilities/helpers/menu";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ast``ro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->
    <LoadingIndicator color="#2563eb" />
  </head>
  <body
    class="flex dark:bg-background-color w-full mx-auto h-full border-0 border-purple-border no-scrollbar"
  >
    <main class="flex w-full h-full">
      <DashboardHeader role="Admin" />
      <Sidebar upperMenu={menu.admin.upper} lowerMenu={menu.admin.lower} />
      <slot />
    </main>
    <Toaster client:load richColors position="top-right" />
  </body>
</html>


<script src="../utilities//helpers/themeScript.js"></script>